/* heatflask.css -- this stylesheet is meant to get loaded in last
   in order to over-write some style settings of dependencies      */

/*
 * ☠ Be careful changing the order of these imports! ☠
 */
@import "~/src/css/min_entireframework.css";

@import "npm:leaflet/dist/leaflet.css";
@import "npm:sidebar-v2/css/leaflet-sidebar.css";
@import "npm:leaflet-control-window/src/L.Control.Window.css";
@import "npm:leaflet-areaselect/src/leaflet-areaselect.css";
@import "npm:leaflet-easybutton/src/easy-button.css";
@import "~/src/css/leaflet-mods.css";
@import "~/src/css/leaflet-sidebar-v2-mods.css";
@import "~/src/css/strava-buttons.css";
@import "~/src/css/icomoon-heatflask.css";
@import "~/src/css/hide-runtime-elements.css";
@import "~/src/css/flash-messages.css";

@import "./tab.info.css";
/*@import "~/src/css/main-table.css";*/

/* Avatar button for registered user */
button.avatar {
  background: url(~/src/images/strava_button.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  padding: 10px;
  transition: transform 0.5s;
}

button.avatar[data-url] {
  background: attr(data-url);
}

button.avatar:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.5s;
}

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

button,
input,
select,
textarea {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Heatflask styling for leaflet-control-window message boxes */
.control-window {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 8px;
}

.error-message {
  color: red;
}

/* Styles for text links */
a:link {
  color: white;
}

a:hover {
  color: orange;
}

a:visited {
  color: yellow;
}

/*
 * Elements with "conditional-show" class are only visible if
 *  "data-show" attribute is set (truthy), and elements with
 *  "conditional-hide" class are only hidden if "data-hide" is set.
 */
.conditional-show,
.conditional-hide[data-hide] {
  display: none;
  /*opacity:0;*/
  /*transition: opacity 1s linear;*/
}

.conditional-show[data-show],
.conditional-hide {
  display: block;
  /*opacity: 1;*/
}

/*
 * A query-form element only shows if it matches the current
 *  query-type (app.qParams.queryType)
 */
.days,
.activities,
.dates,
.ids,
.key {
  display: none;
}

.days[data-queryType="days"],
.activities[data-queryType="activities"],
.dates[data-queryType="dates"],
.ids[data-queryType="ids"],
.key[data-queryType="key"] {
  display: block;
}

.x2 {
  font-size: 2em;
}

input[data-bind="quantity"] {
  width: 4em;
}

/* control window */
div.progress.msgbox {
  text-align: center;
}

progress {
  width: 75%;
}

div.titlebar {
  padding-right: 10px !important;
}

div.promptButtons {
  display: none;
}

input.dot-const {
  width: 90%;
}

div.dot-const-slider {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* end-heatflask */
