#!/usr/bin/env bash
# Automatically load the Nix flake development environment
# This requires direnv: https://direnv.net/

if ! has nix_direnv_version || ! nix_direnv_version 3.0.4; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.4/direnvrc" "sha256-DzlYZ33mWF/Gs8DDeyjr8mnVmQGx7ASYqA5WlxwvBG4="
fi

# Use the flake
use flake

# Load .env file if it exists
dotenv_if_exists
