# Sublime-Text files
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Flask stuff
instance/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# My Additions
*.old
*.log
log.txt
.hidden
.fuse*

test.py
env.sh
clean.sh
.env

frontend/test/

# Ignore node_modules both as a directory, and as a symbolic link
node_modules
node_modules/

# Igonre ParcelJS caches
.parcel-cache/
.parcel-cache
.cache/
.cache


# For Development
frontend/dist/
frontend/dev-docs/

# For Production
# frontend/dist/fa-*
# !frontend/dist/fa-brands*.woff2
# !frontend/dist/fa-solid*.woff2
