# Sublime-Text files
*.sublime-project
*.sublime-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Flask stuff
instance/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

################
# My Additions #
################
*.log
log.txt
.hidden
.fuse*

# .env sets environment variables for the backend webserver
backend/.env

# .venv/ is the directory contanining the Python virtual
#  environment for the backend server
backend/.venv

frontend/test/

# Ignore node_modules both as a directory, and as a symbolic link
frontend/node_modules

# Ignore ParcelJS caches
frontend/.parcel-cache
frontend/.cache

# Ignore development SQLite database
backend/heatflask/.users.db

#package-lock.json

# For Development
#frontend/dist
#frontend/dev-docs.md

# For Production
frontend/dist/fa-*
!frontend/dist/fa-brands*.woff2
!frontend/dist/fa-solid*.woff2
