gevent~=23.9.0
gevent-websocket
flask~=3.0.1
stravalib~=1.5
rjsmin~=1.2.2
polyline~=2.0.1
msgpack~=1.0.7
gunicorn~=21.2.0
flask-redis~=0.4.0
flask-login~=0.6.3
flask-assets~=2.1.0
flask-sslify~=0.1.5
flask-pymongo~=2.3.0
flask-compress~=1.14
flask-analytics~=0.6.0
flask-sqlalchemy~=3.1.1
flask-limiter~=3.5.0
cssmin~=0.2.0
base36~=0.1.1
psycopg2-binary~=2.9.9
wsaccel~=0.6.6

jsmin~=3.0.1
black~=23.12.1

