# while read requirement; do conda install --yes $requirement; done < requirements-dev.txt


stravalib
rjsmin
redis
requests
pymongo
polyline
msgpack
gunicorn
futures
flask
flask-sockets
flask_talisman
flask-sqlalchemy
flask-login
flask-compress
flask-assets
flask-analytics
Flask-PyMongo
flask-redis
cssmin
base36

psycopg2
gevent

wsaccel
ujson
