stravalib
rjsmin
redis==3
requests
#pymongo==3.9
pymongo[srv]
polyline==1.4
msgpack==0.6
gunicorn==20
flask==2.3.2
flask-redis
flask-login
flask-assets
flask-sslify
Flask-PyMongo==2.3
flask-sockets
flask-compress
flask-analytics
flask-sqlalchemy==2.4.1
flask-limiter

cssmin
base36

python-dateutil
psycopg2==2.8
gevent==1.4

wsaccel
