# while read requirement; do conda install --yes $requirement; done < requirements-dev.txt

stravalib
rjsmin
redis
requests
pymongo
polyline
msgpack
gunicorn
flask
flask-redis
flask-login
flask-assets
flask-sslify
Flask-PyMongo
flask-sockets
flask-talisman
flask-compress
flask-analytics
flask-sqlalchemy

cssmin
base36

psycopg2
gevent

wsaccel
ujson
