@import "../ext/min_entireframework.css";

i {
  font-size: 20pt;
  text-shadow: 5px 5px 5px #ccc;
}

.selected {
  background-color: yellow;
}

tr:hover {
  background-color: #f5f5f5;
}

tr.selected:hover {
  background-color: orange;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

#runtime_json {
  display: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.8s linear infinite;
}
