
body {
  font: 12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

datatable-table,
th,
td {
  border: 1px solid black;
}

th {
  background-color: gray;
  color: white;
  text-align: center;
}

datatable-table {
  width: 100%;
}

.selected {
  background-color: yellow;
}

tr:hover {
  background-color: #f5f5f5;
}

tr.selected:hover {
  background-color: orange;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}
