/* heatflask.css -- this stylesheet is meant to get loaded in last
   in order to over-write some style settings of dependencies      */

/* global variables */
:root {
  --strava-auth-button: url("../images/btn_strava_connectwith_orange.svg");
  --strava-badge: url("../images/strava_button.png");
}


/*
 * ☠ Be careful changing the order of these imports! ☠
 */

/* Font-Awesome 5 icons */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* Min CSS framework (https://mincss.com) */
@import "./../ext/css/min_entireframework.min.css";

/* Leafletjs */
@import "../../node_modules/leaflet/dist/leaflet.css";

/* Leaflet Sidebar-v2 */
@import "../../node_modules/sidebar-v2/css/leaflet-sidebar.css";

/* Leaflet control window for pop-up messages */
@import "../../node_modules/leaflet-control-window/src/L.Control.Window.css";

/* Easy Button for control buttons on the map */
@import "../../node_modules/leaflet-easybutton/src/easy-button.css";

/* Heatflask-specific styles */
@import "./leaflet-mods.css";

/* extra styling for sidebar-v2  */
@import "./leaflet-sidebar-v2-mods.css";

@import "./paypal-button.css";


body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

button,
input,
select,
textarea {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Heatflask styling for leaflet-control-window message boxes */
.control-window {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 8px;
}


/* see https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element */
button.strava-auth {
  background-image: var(--strava-auth-button);
  background-size: 100px 100px;
}

/*see https://www.w3docs.com/snippets/css/how-to-set-the-equivalent-of-src-attribute-of-an-img-tag-in-css.html */
/* button.strava-badge { */
  /* background-image: var(--strava-badge); */
  /* background-size: 20px 20px; */
  /* width: 25px; */
  /* height: 25px; */
/* } */


button.strava-badge- {
  display: inline-block;
  height: 32px;
}
button.strava-badge- img {
  visibility: hidden;
  height: 32px;
}
button.strava-badge-:hover {
  background-position: 0 -47px;
}
button.strava-badge-follow {
  height: 32px;
  width: 32px;
  background: url(//badges.strava.com/echelon-sprite-32.png) no-repeat 0 0;
}
/* <a href="http://strava.com/athletes/15972102/badge" class="strava-badge- strava-badge-follow" target="_blank"><img src="//badges.strava.com/echelon-sprite-32.png" alt="Strava" /></a> */

button.avatar {
  height: 20%;
  width: 20%;
}

/* For Fading in and Out */

.show {
  transition: opacity 400ms;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
}

/*
 * Display .logged-in and .logged-out elements depending on
 * "data-athenticated" attribute (bound to currentUser.id)
 */
.logged-in,
.logged-out[data-authenticated] {
  display: none;
}

.logged-out,
.logged-in[data-authenticated] {
  display: block;
}

.days,
.activities,
.dates,
.ids,
.key {
  display: none;
}

.days[data-queryType="days"],
.activities[data-queryType="activities"],
.dates[data-queryType="dates"],
.ids[data-queryType="ids"],
.key[data-queryType="key"] {
  display: block;
}

.dataTable-table > thead > tr {
  background-color: #0000ff50;
}

.dataTable-table tbody > tr:hover {
  background-color: #00ff0040;
}

.dataTable-table tbody > tr.selected {
  background-color: #00ff0060;
}

input[data-bind="quantity"] {
  width: 4em;
}

/* badges on info tab */
i.icon-button {
  font-size: 32px;
  color: white;
  transition: transform 0.25s;
}

i.icon-button:hover {
  color: #ffc439;
  transform: scale(1.25);
}

div.icon-buttons {
  margin: left;
  width: 70%;
  text-align: center;
  /*border: 3px solid green;*/
  padding: 10px;
}


/* end-heatflask */
