body {
    padding: 0;
    margin: 0;
}



html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

button, input, select, textarea {
  background: rgba(0,0,0,0.5);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}


.paypal_button {
  background-color: transparent;
}

.strava-auth{
  background-color: transparent;
}

img.strava-button {
  width: 20px;
  height:20px;
}

i.sm-button {
  font-size: 32px;
  color: blue;
}

span.date-select {
  display: block;
}

/* For Fading in and Out */

.show {
  transition: opacity 400ms;
}

.hide {
  opacity: 0;
}

.hidden {
  display: none;
}



/* Leaflet.js stuff */

/* deals with a browser warning:
    see https://github.com/Leaflet/Leaflet/issues/4686
*/
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change:auto !important;
}

/* addresses warning
  https://stackoverflow.com/questions/59477050/css-non-standard-zoom-property
*/
.leaflet-oldie .leaflet-popup-content-wrapper {
  transform: scale(1);
  transform-origin: 0 0;
}


/* we need to specify non-standard location for images */
.leaflet-control-layers-toggle {
  background-image: url(../images/layers.png);
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/layers-2x.png);
  }

.leaflet-default-icon-path {
  background-image: url(../images/marker-icon.png);
}


.leaflet-container {
    background: black
}

.leaflet-control-layers-expanded {
  color: rgba(255,255,255,0.9);
  background: rgba(0,0,0,0.5);
}


.leaflet-control-layers {
  background: rgba(0,0,0,0.5);
}

.leaflet-bar button {
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.9);
}

.leaflet-bar a {
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.9);
}


.sidebar.collapsed {
  height: 200px;
}

.sidebar-content {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.sidebar-tabs {
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.8);
}

.sidebar-tabs>li, .sidebar-tabs>ul>li {
    color: rgba(255, 255, 255, 0.9);
}

.sidebar-tabs>li.active, .sidebar-tabs>ul>li.active {
  color: #fff;
  background-color: rgba(0,0,0,0.8);
}

.sidebar-header {
    background-color: rgba(0,0,0,0.6);
}

.sidebar {
  transition: width 0s;
}

.sidebar-left~.sidebar-map .leaflet-left {
  transition: left 0s;
}

.sidebar-pane {
  padding: 10px 10px;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */


/**
 * This theme is an example to show how you can create your own.
 */
.pika-single.dark-theme {
    color: #fff;
    background: #333;
    border: 1px solid #666;
    border-bottom-color: #999;
}

.dark-theme .pika-label {
    background-color: #333;
}

.dark-theme .pika-label:after {
    content:" \25be";
}

.dark-theme .pika-prev,
.dark-theme .is-rtl .pika-next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==');
}

.dark-theme .pika-next,
.dark-theme .is-rtl .pika-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC');
}

.dark-theme .pika-table th {
    color: #999;
}

.dark-theme .pika-button {
    color: #fff;
    background: #222;
}

.dark-theme .pika-week {
    color: #999;
}

.dark-theme .is-today .pika-button {
    color: #33aaff;
}

.dark-theme .is-selected .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
}

.dark-theme .is-disabled .pika-button {
    color: #999;
    opacity: .3;
}

.dark-theme .pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
}

/* end pikaday */

.dataTable-table > thead > tr {
  background-color: #0000ff50;
}

.dataTable-table tbody > tr:hover {
  background-color: #00ff0040;
}

.dataTable-table tbody > tr.selected{
  background-color: #00ff0060;
}

