/* heatflask.css -- this stylesheet is meant to get loaded in last
   in order to over-write some style settings of dependencies      */

/* global variables */
:root {
  --strava-badge: url("../images/strava_button.png");
}

/*
 * ☠ Be careful changing the order of these imports! ☠
 */

/* Font-Awesome 5 icons */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* Min CSS framework (https://mincss.com) */
@import "./../ext/css/min_entireframework.min.css";

/* Leafletjs */
@import "../../node_modules/leaflet/dist/leaflet.css";

/* Leaflet Sidebar-v2 */
@import "../../node_modules/sidebar-v2/css/leaflet-sidebar.css";

/* Leaflet control window for pop-up messages */
@import "../../node_modules/leaflet-control-window/src/L.Control.Window.css";

/* Easy Button for control buttons on the map */
@import "../../node_modules/leaflet-easybutton/src/easy-button.css";

/* Heatflask-specific styles */
@import "./leaflet-mods.css";

/* extra styling for sidebar-v2  */
@import "./leaflet-sidebar-v2-mods.css";

@import "./paypal-button.css";

@import "./strava-buttons.css";

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

button,
input,
select,
textarea {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Heatflask styling for leaflet-control-window message boxes */
.control-window {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 8px;
}

button.avatar {
  height: 20%;
  width: 20%;
}

.error-message {
  color: red;
}

/* Styles for text links */
a:link {
  color: white;
}

a:hover {
  color: orange;
}

a:visited {
  color: yellow;
}

/*
 * Elements with "conditional-show" class are only visible if
 *  "data-show" attribute is set (truthy), and elements with
 *  "conditional-hide" class are only hidden if "data-hide" is set.
 */
.conditional-show,
.conditional-hide[data-hide] {
  display: none;
  /*opacity:0;*/
  /*transition: opacity 1s linear;*/
}

.conditional-show[data-show],
.conditional-hide {
  display: block;
  /*opacity: 1;*/
}

/*
 * A query-form element only shows if it matches the current
 *  query-type (app.qParams.queryType)
 */
.days,
.activities,
.dates,
.ids,
.key {
  display: none;
}

.days[data-queryType="days"],
.activities[data-queryType="activities"],
.dates[data-queryType="dates"],
.ids[data-queryType="ids"],
.key[data-queryType="key"] {
  display: block;
}

.dataTable-table > thead > tr {
  background-color: #0000ff50;
}

.dataTable-table tbody > tr:hover {
  background-color: #00ff0040;
}

.dataTable-table tbody > tr.selected {
  background-color: #00ff0060;
}

input[data-bind="quantity"] {
  width: 4em;
}

/* badges on info tab */
i.icon-button {
  font-size: 32px;
  color: white;
  transition: transform 0.25s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: 2px solid green;*/
}

i.icon-button:hover {
  color: #ffc439;
  transform: scale(3);
}

div.icon-buttons {
  margin: left;
  width: 70%;
  text-align: center;
  padding: 10px;
  /*border: 3px solid green;*/
}

/* end-heatflask */
