@font-face {
  font-family: "icomoon-heatflask";
  src: url("../fonts/icomoon-heatflask.woff2?h5d1ef") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-heatflask" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hf-fire:before {
  content: "\e954";
}
.hf-notification:before {
  content: "\ea08";
}
.hf-rocket:before {
  content: "\e900";
}
.hf-backward2:before {
  content: "\ea1f";
}
.hf-user-alt:before {
  content: "\e971";
}
.hf-user-plus:before {
  content: "\e973";
}
.hf-user-minus:before {
  content: "\e974";
}
.hf-users:before {
  content: "\e972";
}
.hf-road:before {
  content: "\e9b1";
}
.hf-attachment:before {
  content: "\e9cd";
}
.hf-sort-amount-asc:before {
  content: "\ea4c";
}
.hf-sort-amount-desc:before {
  content: "\ea4d";
}
.hf-equalizer:before {
  content: "\e992";
}
.hf-list2:before {
  content: "\e9bb";
}
.hf-list1:before {
  content: "\e9ba";
}
.hf-info1:before {
  content: "\ea0c";
}
.hf-database:before {
  content: "\e964";
}
.hf-clock:before {
  content: "\e94e";
}
.hf-compass2:before {
  content: "\e94a";
}
.hf-search:before {
  content: "\e986";
}
.hf-zoom-in:before {
  content: "\e987";
}
.hf-zoom-out:before {
  content: "\e988";
}
.hf-enlarge:before {
  content: "\e989";
}
.hf-shrink:before {
  content: "\e98a";
}
.hf-mug:before {
  content: "\e9a2";
}
.hf-point-up:before {
  content: "\ea03";
}
.hf-point-right:before {
  content: "\ea04";
}
.hf-point-down:before {
  content: "\ea05";
}
.hf-point-left:before {
  content: "\ea06";
}
.hf-infinite:before {
  content: "\ea2f";
}
.hf-loop2:before {
  content: "\ea2e";
}
.hf-spinner7:before {
  content: "\e980";
}
.hf-spinner9:before {
  content: "\e982";
}
.hf-spinner10:before {
  content: "\e983";
}
.hf-meter:before {
  content: "\e9a6";
}
.hf-meter2:before {
  content: "\e9a7";
}
.hf-sun:before {
  content: "\e9d4";
}
.hf-brightness-contrast:before {
  content: "\e9d6";
}
.hf-cancel-circle:before {
  content: "\ea0d";
}
.hf-blocked:before {
  content: "\ea0e";
}
.hf-cross:before {
  content: "\ea0f";
}
.hf-enter:before {
  content: "\ea13";
}
.hf-exit:before {
  content: "\ea14";
}
.hf-share2:before {
  content: "\ea82";
}
.hf-pencil:before {
  content: "\e905";
}
.hf-image:before {
  content: "\e90d";
}
.hf-film:before {
  content: "\e913";
}
.hf-video-camera:before {
  content: "\e914";
}
.hf-book:before {
  content: "\e91f";
}
.hf-profile:before {
  content: "\e923";
}
.hf-file-video:before {
  content: "\e92a";
}
.hf-stack:before {
  content: "\e92e";
}
.hf-download:before {
  content: "\e960";
}
.hf-folder-download:before {
  content: "\e933";
}
.hf-folder-upload:before {
  content: "\e934";
}
.hf-address-book:before {
  content: "\e944";
}
.hf-location2:before {
  content: "\e948";
}
.hf-map:before {
  content: "\e94b";
}
.hf-map2:before {
  content: "\e94c";
}
.hf-stopwatch:before {
  content: "\e952";
}
.hf-calendar:before {
  content: "\e953";
}
.hf-hour-glass:before {
  content: "\e979";
}
.hf-spinner6:before {
  content: "\e97f";
}
.hf-enlarge2:before {
  content: "\e98b";
}
.hf-cogs:before {
  content: "\e995";
}
.hf-bug:before {
  content: "\e999";
}
.hf-lab:before {
  content: "\e9aa";
}
.hf-target:before {
  content: "\e9b3";
}
.hf-power:before {
  content: "\e9b5";
}
.hf-cloud-download:before {
  content: "\e9c2";
}
.hf-cloud-check:before {
  content: "\e9c4";
}
.hf-download2:before {
  content: "\e9c5";
}
.hf-download3:before {
  content: "\e9c7";
}
.hf-earth:before {
  content: "\e9ca";
}
.hf-eye:before {
  content: "\e9ce";
}
.hf-eye-blocked:before {
  content: "\e9d1";
}
.hf-warning:before {
  content: "\ea07";
}
.hf-checkmark:before {
  content: "\ea10";
}
.hf-checkmark2:before {
  content: "\ea11";
}
.hf-play2:before {
  content: "\ea15";
}
.hf-pause:before {
  content: "\ea16";
}
.hf-stop:before {
  content: "\ea17";
}
.hf-backward:before {
  content: "\ea1a";
}
.hf-forward2:before {
  content: "\ea1b";
}
.hf-forward3:before {
  content: "\ea20";
}
.hf-play3:before {
  content: "\ea1c";
}
.hf-pause2:before {
  content: "\ea1d";
}
.hf-stop2:before {
  content: "\ea1e";
}
.hf-checkbox-checked:before {
  content: "\ea52";
}
.hf-checkbox-unchecked:before {
  content: "\ea53";
}
.hf-radio-checked:before {
  content: "\ea54";
}
.hf-radio-checked2:before {
  content: "\ea55";
}
.hf-radio-unchecked:before {
  content: "\ea56";
}
.hf-make-group:before {
  content: "\ea58";
}
.hf-filter:before {
  content: "\ea5b";
}
.hf-table:before {
  content: "\ea70";
}
.hf-table2:before {
  content: "\ea71";
}
.hf-share:before {
  content: "\ea7d";
}
.hf-instagram:before {
  content: "\ea92";
}
.hf-twitter:before {
  content: "\ea96";
}
.hf-github:before {
  content: "\eab0";
}
.hf-hackernews:before {
  content: "\eac7";
}
.hf-linkedin:before {
  content: "\eac9";
}
.hf-reddit:before {
  content: "\eac6";
}
.hf-linkedin2:before {
  content: "\eaca";
}
.hf-new-tab:before {
  content: "\e947";
}
.hf-out:before {
  content: "\e947";
}
.hf-external:before {
  content: "\e947";
}
.hf-outside:before {
  content: "\e947";
}
.hf-popout:before {
  content: "\e947";
}
.hf-link2:before {
  content: "\e947";
}
.hf-blank:before {
  content: "\e947";
}
.hf-link:before {
  content: "\e949";
}
.hf-chain1:before {
  content: "\e949";
}
.hf-url:before {
  content: "\e949";
}
.hf-uri:before {
  content: "\e949";
}
.hf-anchor:before {
  content: "\e949";
}
.hf-skiing:before {
  content: "\e901";
}
.hf-skiing-nordic:before {
  content: "\e902";
}
.hf-kayak-alt:before {
  content: "\e903";
}
.hf-crossfit:before {
  content: "\e904";
}
.hf-kettlebell:before {
  content: "\e906";
}
.hf-motorcycle:before {
  content: "\e907";
}
.hf-golf:before {
  content: "\e908";
}
.hf-hiking:before {
  content: "\e909";
}
.hf-skating:before {
  content: "\e90a";
}
.hf-inline-skating:before {
  content: "\e90b";
}
.hf-kayak:before {
  content: "\e90c";
}
.hf-kitesurf:before {
  content: "\e90e";
}
.hf-xc-ski:before {
  content: "\e90f";
}
.hf-biking:before {
  content: "\e910";
}
.hf-bicycle:before {
  content: "\e911";
}
.hf-climbing:before {
  content: "\e912";
}
.hf-roller-ski:before {
  content: "\e915";
}
.hf-rowing:before {
  content: "\e916";
}
.hf-running:before {
  content: "\e917";
}
.hf-sailboat:before {
  content: "\e918";
}
.hf-skateboarding:before {
  content: "\e919";
}
.hf-snowboarding:before {
  content: "\e91a";
}
.hf-snowshoes:before {
  content: "\e91b";
}
.hf-soccer:before {
  content: "\e91c";
}
.hf-stairs:before {
  content: "\e91d";
}
.hf-sup-paddle:before {
  content: "\e91e";
}
.hf-surf:before {
  content: "\e920";
}
.hf-swimming:before {
  content: "\e921";
}
.hf-spinning:before {
  content: "\e922";
}
.hf-treadmill:before {
  content: "\e924";
}
.hf-walking:before {
  content: "\e925";
}
.hf-dumbell:before {
  content: "\e926";
}
.hf-weights:before {
  content: "\e927";
}
.hf-wheelchair:before {
  content: "\e928";
}
.hf-windsurf:before {
  content: "\e929";
}
.hf-activity:before {
  content: "\e92b";
}
.hf-meditate:before {
  content: "\e92c";
}
.hf-yoga:before {
  content: "\e92d";
}
.hf-yoga-alt:before {
  content: "\e92f";
}
.hf-canoe:before {
  content: "\e930";
}
.hf-question-circle-o:before {
  content: "\e931";
}
.hf-question-circle:before {
  content: "\e932";
}
.hf-question:before {
  content: "\e935";
}
.hf-caret-square-o-right:before {
  content: "\e936";
}
.hf-toggle-right:before {
  content: "\e936";
}
.hf-caret-square-o-left:before {
  content: "\e937";
}
.hf-toggle-left:before {
  content: "\e937";
}
.hf-user-o:before {
  content: "\e938";
}
.hf-user-circle-o:before {
  content: "\e939";
}
.hf-user-circle:before {
  content: "\e93a";
}
.hf-user-times:before {
  content: "\e93b";
}
.hf-user-secret:before {
  content: "\e93c";
}
.hf-sign-out:before {
  content: "\e93d";
}
.hf-sign-in:before {
  content: "\e93e";
}
.hf-caret-right:before {
  content: "\e93f";
}
.hf-caret-left:before {
  content: "\e940";
}
.hf-caret-up:before {
  content: "\e941";
}
.hf-caret-down:before {
  content: "\e942";
}
.hf-user:before {
  content: "\f007";
}
.hf-group:before {
  content: "\f0c0";
}
.hf-users1:before {
  content: "\f0c0";
}
.hf-road1:before {
  content: "\f018";
}
.hf-crosshairs:before {
  content: "\f05b";
}
.hf-chain:before {
  content: "\f0c1";
}
.hf-link1:before {
  content: "\f0c1";
}
.hf-bars:before {
  content: "\f0c9";
}
.hf-navicon:before {
  content: "\f0c9";
}
.hf-reorder:before {
  content: "\f0c9";
}
.hf-list-ul:before {
  content: "\f0ca";
}
.hf-list:before {
  content: "\f03a";
}
.hf-info:before {
  content: "\f129";
}
.hf-database1:before {
  content: "\f1c0";
}
.hf-file-movie-o:before {
  content: "\f1c8";
}
.hf-file-video-o:before {
  content: "\f1c8";
}
.hf-object-group:before {
  content: "\f247";
}
.hf-video-camera1:before {
  content: "\f03d";
}
.hf-calendar1:before {
  content: "\e943";
}
.hf-hourglass-3:before {
  content: "\f253";
}
.hf-hourglass-end:before {
  content: "\f253";
}
.hf-crop:before {
  content: "\f125";
}
.hf-bullseye:before {
  content: "\e945";
}
.hf-github-alt:before {
  content: "\f113";
}
.hf-envelope-o:before {
  content: "\f003";
}
.hf-handbike:before {
  content: "\e946";
}
