@font-face {
  font-family: "icomoon-heatflask";
  src: url("../fonts/icomoon-heatflask.woff2?6rmqiw") format("woff2");

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-heatflask" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.atype-skiing:before {
  content: "\e901";
}
.atype-skiing-nordic:before {
  content: "\e902";
}
.atype-kayak-alt:before {
  content: "\e903";
}
.atype-crossfit:before {
  content: "\e904";
}
.atype-kettlebell:before {
  content: "\e906";
}
.atype-motorcycle:before {
  content: "\e907";
}
.atype-golf:before {
  content: "\e908";
}
.atype-hiking:before {
  content: "\e909";
}
.atype-skating:before {
  content: "\e90a";
}
.atype-inline-skating:before {
  content: "\e90b";
}
.atype-kayak:before {
  content: "\e90c";
}
.atype-kitesurf:before {
  content: "\e90e";
}
.atype-xc-ski:before {
  content: "\e90f";
}
.atype-biking:before {
  content: "\e910";
}
.atype-bicycle:before {
  content: "\e911";
}
.atype-climbing:before {
  content: "\e912";
}
.atype-roller-ski:before {
  content: "\e915";
}
.atype-rowing:before {
  content: "\e916";
}
.atype-running:before {
  content: "\e917";
}
.atype-sailboat:before {
  content: "\e918";
}
.atype-skateboarding:before {
  content: "\e919";
}
.atype-snowboarding:before {
  content: "\e91a";
}
.atype-snowshoes:before {
  content: "\e91b";
}
.atype-soccer:before {
  content: "\e91c";
}
.atype-stairs:before {
  content: "\e91d";
}
.atype-sup-paddle:before {
  content: "\e91e";
}
.atype-surf:before {
  content: "\e920";
}
.atype-swimming:before {
  content: "\e921";
}
.atype-spinning:before {
  content: "\e922";
}
.atype-treadmill:before {
  content: "\e924";
}
.atype-walking:before {
  content: "\e925";
}
.atype-dumbell:before {
  content: "\e926";
}
.atype-weights:before {
  content: "\e927";
}
.atype-wheelchair:before {
  content: "\e928";
}
.atype-windsurf:before {
  content: "\e929";
}
.atype-activity:before {
  content: "\e92b";
}
.atype-meditate:before {
  content: "\e92c";
}
.atype-yoga:before {
  content: "\e92d";
}
.atype-yoga-alt:before {
  content: "\e92f";
}
.atype-canoe:before {
  content: "\e930";
}
.atype-handbike:before {
  content: "\e946";
}
