/* heatflask mods to Leaflet.js styling */

/* deals with a browser warning:
    see https://github.com/Leaflet/Leaflet/issues/4686
*/
.leaflet-fade-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change: auto !important;
}

/* addresses warning
  https://stackoverflow.com/questions/59477050/css-non-standard-zoom-property
*/
.leaflet-oldie .leaflet-popup-content-wrapper {
  transform: scale(1);
  transform-origin: 0 0;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

/* Background visible as map tiles are loading */
.leaflet-container {
  /* background: green; */
  background-image: linear-gradient(black, blue);
  /*background-image: url(https://wallpaperset.com/w/full/4/b/a/354128.jpg);*/
  user-select: none; /* disables text-selection on shift-click */
}

/* layer selection button and menu */
.leaflet-control-layers-expanded {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.5);
}

.leaflet-control-layers {
  background: rgba(0, 0, 0, 0.5);
}

/* zoom buttons */
.leaflet-bar button {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.leaflet-bar a {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
}


.leaflet-aux-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  z-index: 800;
  border: 2px dotted #38f;
  background: rgba(255,100,100,0.3);
}
