/* heatflask.css -- this stylesheet is meant to get loaded in last
   in order to over-write some style settings of dependencies      */

/* global variables */
:root {
  --strava-badge: url("../images/strava_button.png");
}

/*
 * ☠ Be careful changing the order of these imports! ☠
 */

/* Font-Awesome 5 icons */
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

/* Additional activity-type icons from icomoon */
@import "./activity-icons.css";

/* Min CSS framework (https://mincss.com) */
@import "../ext/min_entireframework.css";

/* Leafletjs */
@import "../../node_modules/leaflet/dist/leaflet.css";

/* Leaflet Sidebar-v2 */
@import "../../node_modules/sidebar-v2/css/leaflet-sidebar.css";

/* Leaflet control window for pop-up messages */
@import "../../node_modules/leaflet-control-window/src/L.Control.Window.css";

/* Leaflet plugin for selecting a rectangular area in the viewport */
@import "../../node_modules/leaflet-areaselect/src/leaflet-areaselect.css";

/* Easy Button for control buttons on the map */
@import "../../node_modules/leaflet-easybutton/src/easy-button.css";

/* Heatflask-specific styles */
@import "./leaflet-mods.css";

/* extra styling for sidebar-v2  */
@import "./leaflet-sidebar-v2-mods.css";

/* Styles the paypal donation button snippet */
@import "./paypal-button.css";

/* Strava authentication button and athlete badge */
@import "./strava-buttons.css";

/* Styling for the activity list table */
@import "./main-table.css";

body {
  padding: 0;
  margin: 0;
}

html,
body,
#map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

button,
input,
select,
textarea {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0);
  color: white;
}

/* Heatflask styling for leaflet-control-window message boxes */
.control-window {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 8px;
}

/* Avatar button for registered user */
button.avatar {
  background: var(--strava-badge);
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  padding: 10px;
  transition: transform 0.5s;
}

button.avatar[data-url] {
  background: attr(data-url);
}

button.avatar:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.5s;
}

.error-message {
  color: red;
}

/* Styles for text links */
a:link {
  color: white;
}

a:hover {
  color: orange;
}

a:visited {
  color: yellow;
}

/*
 * Elements with "conditional-show" class are only visible if
 *  "data-show" attribute is set (truthy), and elements with
 *  "conditional-hide" class are only hidden if "data-hide" is set.
 */
.conditional-show,
.conditional-hide[data-hide] {
  display: none;
  /*opacity:0;*/
  /*transition: opacity 1s linear;*/
}

.conditional-show[data-show],
.conditional-hide {
  display: block;
  /*opacity: 1;*/
}

/*
 * A query-form element only shows if it matches the current
 *  query-type (app.qParams.queryType)
 */
.days,
.activities,
.dates,
.ids,
.key {
  display: none;
}

.days[data-queryType="days"],
.activities[data-queryType="activities"],
.dates[data-queryType="dates"],
.ids[data-queryType="ids"],
.key[data-queryType="key"] {
  display: block;
}

.x2 {
  font-size: 2em;
}

input[data-bind="quantity"] {
  width: 4em;
}

/* badges on info tab */
i.icon-button {
  font-size: 32px;
  /*color: white;*/
  transition: transform 0.25s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: 2px solid green;*/
}

i.icon-button:hover {
  /*color: #ffc439;*/
  transform: scale(3);
}

div.icon-buttons {
  margin: left;
  width: 70%;
  text-align: center;
  padding: 10px;
  /*border: 3px solid green;*/
}

/* control window */
div.progress.msgbox {
  text-align: center;
}

progress {
  width: 75%;
}

div.titlebar {
  padding-right: 10px !important;
}

div.promptButtons {
  display: none;
}

.fa-twitter {
  color: #38a1f3;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-strava {
  color: #fc4c02;
}

.fa-github {
  color: #fff;
}

.fa-instagram {
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#runtime-arguments {
  display: none;
}

input.dot-const {
  width: 90%;
}

div.dot-const-slider {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* end-heatflask */
