/*
 * Paypal donate button
 */
div.paypal-button {
  margin: left;
  width: 70%;
  text-align: center;
  padding: 30px 0;
  /*border: 3px solid green;*/
}

input.paypal-button {
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 2s;
}

input.paypal-button:hover {
  transform: scale(1.25);
  transition-duration: 0.25s;
}
