@import "../ext/min_entireframework.css";
@import "./strava-buttons.css";

:root {
  background-color: #000000;
  background-image: url("../images/lake.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

textarea,
input,
select {
  border: inherit;
}

.msg {
  position: absolute;
  /*top: 10%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: black;
  font-size: 16pt;
  margin: 0 auto;
  width: 50%;
  opacity: 0.9;
  padding: 10px;
  display: None;
}

.msg li {
  list-style-type: none;
}

.logo {
  width: 50%;
  max-width: 200px;
  opacity: 0.9;
}

/* buttons */
.btn {
  opacity: 0.9;
}

html,
body {
  height: 100%;
}

body {
  color: #fffff0;
  text-align: center;
  text-shadow: 12px 13px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

.container {
  text-align: center;
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: auto;
}

#runtime_json,
#flashes {
  display: none;
}
