:root {
  --background-image: url("../images/lake.gif");
}

@import "../ext/css/min_entireframework.min.css";
@import "./strava-buttons.css";

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

textarea,
input,
select {
  border: inherit;
}

.flashes {
  background: rgba(255, 0, 0, 0.5);
}

.logo {
  width: 50%;
  max-width: 200px;
  opacity: 0.9;
}

/* buttons */
.btn {
  opacity: 0.9;
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fffff0;
  text-align: center;
  text-shadow: 12px 13px 5px rgba(0, 0, 0, 0.5);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
}

.container {
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}
