
/*
 * The Strava Authentication button
 */
/* see https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element */
button.strava-auth {
  background: url("../images/btn_strava_connectwith_orange.svg");
  width: 193px;
  height: 48px;
  transition: 1s;
}

button.strava-auth:hover {
  background: url("../images/btn_strava_connectwith_light.svg");
  transition: 1s;
  cursor: pointer;
}



/*
 * The Strava Badge
 */
/*see https://www.w3docs.com/snippets/css/how-to-set-the-equivalent-of-src-attribute-of-an-img-tag-in-css.html */
/* button.strava-badge { */
/* background-image: var(--strava-badge); */
/* background-size: 20px 20px; */
/* width: 25px; */
/* height: 25px; */
/* } */

button.strava-badge- {
  display: inline-block;
  height: 32px;
}
button.strava-badge- img {
  visibility: hidden;
  height: 32px;
}
button.strava-badge-:hover {
  background-position: 0 -47px;
}
button.strava-badge-follow {
  height: 32px;
  width: 32px;
  background: url(//badges.strava.com/echelon-sprite-32.png) no-repeat 0 0;
}
/* <a href="http://strava.com/athletes/15972102/badge" class="strava-badge- strava-badge-follow" target="_blank"><img src="//badges.strava.com/echelon-sprite-32.png" alt="Strava" /></a> */
