
/*
 * The Strava Authentication button
 */
/* see https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element */
button.strava-auth {
  background: url("../images/btn_strava_connectwith_orange.svg");
  width: 193px;
  height: 48px;
  transition: 1s;
  border: none;
  margin: 10px;
}

button.strava-auth:hover {
  background: url("../images/btn_strava_connectwith_light.svg");
  transition: 1s;
  cursor: pointer;
}

