@import "~/src/css/min_entireframework.css";
@import "~/src/css/spinner.css";
@import "~/src/css/hide-runtime-elements.css";
@import "~/src/css/flash-messages.css";
@import "~/src/css/jstable.scss";
@import "~/src/css/icomoon-heatflask.css";

i {
  font-size: 20pt;
  text-shadow: 5px 5px 5px #ccc;
}

.selected {
  background-color: yellow;
}

tr:hover {
  background-color: #f5f5f5;
}

tr.selected:hover {
  background-color: orange;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}
