@import "~/src/css/min_entireframework.css";
@import "~/src/css/strava-buttons.css";
@import "~/src/css/hide-runtime-elements.css";
@import "~/src/css/flash-messages.css";

:root {
  background-color: #000000;
  background-image: url("~/src/images/lake.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

textarea,
input,
select {
  border: inherit;
}

.logo {
  width: 50%;
  max-width: 200px;
  opacity: 0.9;
}

/* buttons */
.btn {
  opacity: 0.9;
}

html,
body {
  height: 100%;
}

body {
  color: #fffff0;
  text-align: center;
  text-shadow: 12px 13px 5px rgba(0, 0, 0, 0.5);
  display: flex;
}

.container {
  text-align: center;
  position: relative;
  width: 90vw;
  height: 90vh;
  margin: auto;
}
