<!DOCTYPE html>
<html>
  <head>
    <title>Activities List</title>

    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>

  <body>
  <h4>Activities list</h4>
  <div id="status">
    <span id="status_msg"></span>
    <span id="count"></span>
  </div>

  <table id='activities_list' class='display order-column compact' style="width:100%">
    <thead>
      <th><i class="fa fa-link" aria-hidden="true"></i></th>
      <th><i class="fa fa-external-link" aria-hidden="true"></i></th>
      <th><i class="fa fa-users" aria-hidden="true"></i></th>
      <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
      <th>Type</th>
      <th id="dist"></th>
      <th><i class="fa fa-clock-o" aria-hidden="true"></i></th>
      <th>Name</th>
    </thead>
    <tbody>
    </tbody>
  </table>



  <script>
    const MEASURMENT_PREFERENCE = "{{ current_user.measurement_preference if current_user.is_authenticated else user.measurement_preference }}",
          DIST_UNIT = (MEASURMENT_PREFERENCE=="feet")? 1609.34 : 1000.0,
          DIST_LABEL = (MEASURMENT_PREFERENCE=="feet")?  "mi" : "km",
          STRAVA_BUTTON = img("{{ url_for('static',filename='strava_button.png') }}"),
          USER_BASE_URL = "{{url_for('main',username=user.id)}}",
          GROUP_ACTIVITY_URL = "{{ url_for('related_activities', username=user.id, activity_id='') }}",
          ACTIVITY_STREAM_URL = "{{ url_for('query_activities', username=user.id, out_type='sse') }}?limit=100000";

    function td(text) {
      return "<td>" + text +"</td>";
    }

    function groupLink(A) {
      if (A.group == 1) {
        return ""
      }
      let url = GROUP_ACTIVITY_URL + A.id;
      return href(url, "<i class='fa fa-users'></i>");
      // return href(url, A.group);

    }

    jQuery(document).ready(function($) {
        let count = 0,
            count_DOM_element = $("#count"),
            table_body = $('#activities_list tbody'),
            source = new EventSource( ACTIVITY_STREAM_URL );

        $("#status_msg").text("Retrieving Activity Index...");
        $("#dist").html(`<i class="fa fa-arrows-h" aria-hidden="true"></i> (${DIST_LABEL})`);

        source.onmessage = function(event) {
          if (event.data == 'done') {
            source.close();
            $('#activities_list').DataTable({
                paging: false,
                scrollY: "80vh",
                scrollX: true,
                scrollCollapse: true,
                order: [[ 3, "desc" ]],
                select: false
            });

            $("#status").hide();

          } else {
            let A = JSON.parse(event.data);
            if ("id" in A) {
              count_DOM_element.text(count++);
              let heatflask_link = `${USER_BASE_URL}?id=${A.id}`,
                  strava_link = href(`${stravaActivityURL( A.id ) }`, STRAVA_BUTTON),
                  ts = A.ts_local.slice(0,10),
                  dkm = +(A.total_distance / DIST_UNIT).toFixed(2),
                  row = "<tr>" +
                     td(href(heatflask_link, A.id)) +
                     td(strava_link) +
                     td(groupLink(A)) +
                     td(ts) +
                     td(A.type) +
                     td(dkm) +
                     td(hhmmss(A.elapsed_time)) +
                     td(A.name) +
                     "</tr>";
              table_body.append(row);
            }
          }
        }
    });
  </script>
 </body>
</html>

