<!DOCTYPE html>
<html>
  <head>
    <title>Activities List</title>
    <style>
      #data {
        text-align: center;
      }
    </style>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
  </head>

  <body>
  <h2>Activities list</h2>
  <div class="table-responsive">
  <table id='activities_list' class='display order-column' cellspacing='1' width='100%'>
    <thead>
      <th>ID</th>
      <th>Link</th>
      <th>Date</th>
      <th>Type</th>
      <th>Dist</th>
      <th>Time</th>
      <th>Name</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>


  <div id="status"></div>

  <script>
    function hhmmss(secs) {
        return new Date(secs * 1000).toISOString().substr(11, 8);
    }

    function href(url, text){
        return `<a href='${url}' target='_blank'>${text}</a>`
    }

    function img(url, w=20, h=20){
      return `<img src=${url} width=${w} height=${h} class="img-fluid">`;
    }
    function stravaActivityURL(id) {
        return `https://www.strava.com/activities/${id}`;
    }

    function td(text) {
      return "<td>" + text +"</td>";
    }


    jQuery(document).ready(function($) {
        let heatflask_button = img("{{ url_for('static',filename='Heat.png') }}"),
            USER_BASE_URL = "{{url_for('main',username=user.id)}}",
            source = new EventSource("{{ url_for('activity_stream', username=user.id, limit=limit) }}");

        $("#status").text("Getting Activity List");

        source.onmessage = function(event) {
          if (event.data == 'done') {
            source.close();

            $('#activities_list').DataTable({
                paging: false,
                scrollY: "80vh",
                scrollX: true,
                scrollCollapse: true,
                order: [[ 1, "desc" ]],
                select: true
            });
          } else {
            let A = JSON.parse(event.data),
                heatflask_link = href(`${USER_BASE_URL}?id=${A.id}`, heatflask_button),
                ts = A.beginTimestamp.slice(0,10),
                dkm = +(A.total_distance / 1000).toFixed(2),
                row = "<tr>" +
                   td(href(stravaActivityURL(A.id), A.id)) +
                   td(heatflask_link) +
                   td(ts) +
                   td(A.type) +
                   td(dkm) +
                   td(hhmmss(A.elapsed_time)) +
                   td(A.name) +
                   "</tr>";
            $('#activities_list tbody').append(row);
          }
        }
    });
  </script>
 </body>
</html>

