<!DOCTYPE html>
<html>
  <head>
    <title>Activities List</title>
    <style>
      #data {
        text-align: center;
      }
    </style>
    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

  </head>
  <body>

<h1>Activities json</h1>
<div id="result"></div>

  <script>
    var source = new EventSource("{{ url_for('activity_stream', limit=limit) }}");
    var count = 0;

    source.onmessage = function(event) {

      // console.log(event.data);
      if (event.data != 'done'){
        var j = JSON.parse(event.data);
        link = "<a href={{ url_for('data_points',activity_id='') }}"+ j.id + "> "+ j.msg + "</a>";
        document.getElementById("result").innerHTML += link + "<br>";
        count++;
      } else {
        source.close();
        document.getElementById("result").innerHTML += "Done listing " + count +" activities.<br>";
      }
    };

     source.onerror = function(e) {
      closed = true;
    };

    source.addEventListener('end', function(event) {
      event.target.close();
      closed = true;
    }, true);


  </script>
 </body>
</html>

