<!DOCTYPE html>
<html>
<head>
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <h3> Registered Users </h3>
    <table id="users_table" class='display order-column' cellspacing='1' width='100%'>
    </table>

    <script>

    function combineNames(data, type, row, meta) {
        return row.lastname + ", " + row.firstname;
    }

    const data = {{ data|tojson }};
    let atable = $('#users_table').DataTable({
            pageLength: 50,
            deferRender: true,
            data: data,
            columns: [
                {title: "ID",    data: "id", render: formatUserId},
                {title: "count", data: "app_activity_count"},
                {
                    title: "last active",
                    data: "dt_last_active",
                    render: formatDate,
                },
                {title: "Name", render: combineNames},
                {title: "City",    data: "city"},
                {title: "Country", data: "country"},
                {title: "email",   data: "email" }
            ],
            scrollY: "80vh",
            scrollX: true,
            scrollCollapse: true,
            select: false,
            order: [[ 1, "desc" ]]
        });
    </script>
</body>
</html>
