<!DOCTYPE html>
<html>
<head>
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <h1> Registered Users </h1>
    <table id="users_table" class='display order-column' cellspacing='1'>
        <thead>
        <th>ID</th>
        <th>count</th>
        <th>last active</th>
        <th>Name</th>
        <th>city</th>
        <th>Country</th>
        </thead>
        {%- for d in data %}
          <tr>
            <td><a href="{{ url_for('main',username=d['id']) }}" target='_blank'>{{ d['id'] }}</a></td>
            <td>{{ d["app_activity_count"] }}</td>
            <td>{{ d["dt_last_active"] }}</td>
            <td>{{ d["firstname"] }} {{ d["lastname"] }}</td>
            <td>{{ d["city"] }}</td>
            <td>{{ d["country"] }}</td>
          </tr>
        {%- endfor %}
    </table>

    <script>
    let atable = $('#users_table').DataTable({
            paging: false,
            scrollY: "80vh",
            scrollX: true,
            scrollCollapse: true,
            select: true,
            order: [[ 1, "desc" ]]
        });
    </script>
</body>
</html>
