<!DOCTYPE html>
<html>
<head>
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <div>
        <h4> Registered Users </h4>
        <table id="users_table" class='display order-column' style="width:100%">
        </table>
    </div>

    <div class="container">
        <h4>Activities query:</h4>
        <form id="renderform" action="">

            <span id="num_select">
                <input class="preset" id="select_num" type="number" value=0 min=0 max=500>
                most
            </span>

            <span>
                <select class="preset" id="select_type" form="renderform">
                    <option value="activities">recent activities</option>
                    <option value="days">recent days</option>
                    <option value="activity_ids">Activity IDs</option>
                    <option value="">Date-Range</option>
                </select>
            </span>

            <span class="date_select" style="display:block">
                After
                <input class="datepick" id="date1" type="text"  value=""/>
            </span>
            <br>

            <span class="date_select" style="display:block">
                Before
                <input class="datepick" id="date2" type="text" value=""/>
            </span>

            <button type="button" id="renderButton" class="btn btn-primary">Render Layers</button>
        </form>
    </div>

<script>

        function combineNames(data, type, row, meta) {
            return row.lastname + ", " + row.firstname;
        }

        function preset_sync() {
            let F = "YYYY-MM-DD",
                num = $("#select_num").val(),
                type = $("#select_type").val();

            if (type=="grouped_with") {
                $(".date_select").hide();
                $("#num_select").hide();

            } else if (type=="days"){
                $(".date_select").hide();
                $("#num_select").show();
                $('#date1').val(moment().subtract(num, 'days').format(F));
                $('#date2').val("now");
            } else if (type=="activities") {
                $(".date_select").hide();
                $("#num_select").show();
                $('#date1').val("");
                $('#date2').val("now");
            }
            else if (type=="activity_ids") {
                $(".date_select").hide();
                $("#num_select").hide();
            } else {
                $(".date_select").show();
                $("#select_num").val("");
                $("#num_select").hide();
            }

        }

        const data = {{ data|tojson }};
        let atable = $('#users_table').DataTable({
            pageLength: 50,
            deferRender: true,
            data: data,
            rowId: "id",
            columns: [
                {title: "ID",    data: "id", render: formatUserId},
                {title: "count", data: "app_activity_count"},
                {
                    title: "last active",
                    data: "dt_last_active",
                    render: formatDate,
                },
                {title: "Name", render: combineNames},
                {title: "City",    data: "city"},
                {title: "Country", data: "country"},
                {title: "email",   data: "email" }
            ],
            scrollY: "75vh",
            scrollX: true,
            scrollCollapse: true,
            select: isMobileDevice()? "multi" : "os",
            order: [[ 2, "desc" ]]
        });


        $(".datepick").on("change", function(){
            $(".preset").val("");
        });

        $(".preset").on("change", preset_sync);

        $("#renderButton").click(function() {
            const date1 = $("#date1").val(),
                  date2 = $("#date2").val(),
                  type = $("#select_type").val(),
                  num = $("#select_num").val(),
                  limit = (type == "activities")? Math.max(1, +num) : null,
                  after = date1? date1 : null,
                  before = (date2 && date2 != "now")? date2 : null,
                  POST_QUERY_URL = "{{ url_for('get_query_key') }}",
                  KEY_QUERY_URL = "{{ url_for('getdata_with_key', query_key='') }}",
                  APP_URL = "{{ url_for('main', username='') }}";



            let userIds = atable.rows( { selected: true } ).ids().toArray(),
                query = {
                    summaries: true,
                    streams: true,
                    owner_id: true,
                    build_index: false,
                    cache_timeout: 60
                },
                mainQuery = {};

            if (limit) {
                query.limit = limit;
            } else {
                if (after) {
                    query.after = after;
                }
                if (before) {
                    query.before = before;
                }
            }

            for (let i=0, len=userIds.length; i<len; i++) {
                mainQuery[userIds[i]] = query;
            }

            console.log(mainQuery);

            httpPostAsync(POST_QUERY_URL, mainQuery, function(data) {
                let key = JSON.parse(data),
                    // openURL = `${KEY_QUERY_URL}${key}`,
                    openURL = APP_URL+key;

                window.open(openURL, target="_blank");
                // readStream(streamURL, activityIds.length, updateLayers);
            });


        });

    </script>
</body>
</html>
