<!DOCTYPE html>
<html>
<head>
    <title>{{ config["APP_NAME"] }} Public User Directory</title>
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <h3>Public User Directory</h3>
    <table id="users_table" class='display order-column'>
    </table>

    <script>

        function combineNames(data, type, row, meta) {
            return row.lastname + ", " + row.firstname;
        }



        const data = {{ data|tojson }};
        let atable = $('#users_table').DataTable({
            pageLength: 100,
            deferRender: true,
            data: data,
            columns: [
                {title: "",    data: "id", render: formatUserId},
                {title: "username",  data: "username"},
                {title: "City",    data: "city"},
                {title: "Region",    data: "state"},
                {title: "Country", data: "country"},
                {
                    title: "last active",
                    data: "dt_last_active",
                    render: formatDate,
                }
            ],
            scrollY: "80vh",
            scrollX: true,
            scrollCollapse: true,
            select: false,
            order: [[ 5, "desc" ]]
        });
    </script>
</body>
</html>
