<!DOCTYPE html>
<html>
<head>
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <h3>Events</h3>
    <table id="events_table" class='display order-column' style="width:100%">
    </table>

    <script>
    const user_profile_url = "{{ url_for('user_profile', username='') }}",
          event_url = "{{ url_for('logged_event', event_id='') }}",
          live_update_url = "{{ url_for('live_updates') }}";


    function ip_lookup_url( ip ) {
        return ( ip? "{{ url_for('ip_lookup') }}" + `?ip=${ip}` : "#" );
    }

    function formatID (data, type, row) {
        if (data) {
            if (type == "display") {
                return href(user_profile_url+data, data);
            } else {
                return data;
            }
        } else {
            return "";
        }
    }

    function formatDate(data, type, row, meta) {
        let date = new Date(0);
        date.setUTCSeconds(data)
        return (type === "display" || type === "filter") ?
            href(event_url + row["_id"], date.toLocaleString('en-US', { hour12: false })) : data;
    }


    let data = {{ events|tojson }},
        table = $('#events_table').DataTable({
            pageLength: 100,
            data: data,
            deferRender: true,
            columns: [
                {title: "time",  data: "ts", render: formatDate},
                {title: "ip",    data: "ip", defaultContent: "", render: formatIP},
                {title: "user",  data: "cuid", defaultContent: "", render: formatUserId},
                {title: "event", data: "msg"}
            ],
            scrollY: "80vh",
            scrollX: true,
            scrollCollapse: true,
            select: false,
            order: [[ 0, "desc" ]]
    });

    table.draw();

    const evtSource = new EventSource(live_update_url);
    evtSource.onmessage = function(event) {
      let  update = event.data;
      if (!update) {
        return;
      }
      
      // console.log(event);


      let e = JSON.parse(update),
          r = table.row.add(e).select().draw(false).node();

      setTimeout(function(){
        table.row(r).deselect();
      }, 5000);
    }


    </script>
</body>
</html>
