<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <h1>Events</h1>
    <table id="events_table" class='display order-column compact' cellspacing='1' width='100%'>
        <thead>
            <th>time</th>
            <th>ip</th>
            <th>from</th>
            <th>event</th>
        </thead>
        {%- for e in events %}
          <tr>
            <td>{{ id(e)|safe }}</td>
            <td>{{ ip(e)|safe }}</td>
            <td>{{ cuid(e)|safe }}</td>
            <td>{{ e.get('msg', '')|safe }}</td>
          </tr>
        {%- endfor %}
    </table>


    <script>
    $(document).ready(function() {
        $('#events_table').DataTable({
            paging: false,
            scrollY: "80vh",
            scrollX: true,
            scrollCollapse: true,
            select: true,
            order: [[ 0, "desc" ]]
        });
    });


    </script>
</body>
</html>
