<html>
  <head>
    <title>Activities Visualization login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <h1>Activities Visualization login</h1>


      <h3>Create a new account or connect to an existing one</h3>
      <br>
      <a href="{{ url_for('authorize', service='strava') }}">
                <img src="static/ConnectWithStrava.png">
                </a>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <h1>or</h1>
      <FORM METHOD="LINK" ACTION="{{ url_for('demo') }}">
      <INPUT class="btn btn-primary" TYPE="submit" VALUE="See Demo">
      </FORM>
      <br>
      Note: Our copy of your GIS data is publicly viewable.  You can delete your account with us along with all of the data at any time.
    </div>
  </body>
</html>
