<!DOCTYPE html>
<html>
<head>
	<title>{{ config["APP_NAME"] }} - {{ user.username or user.id }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	{% assets "main_css" %}
	<link rel="stylesheet" href="{{ ASSET_URL }}" />
	{% endassets %}

	{% if not config.get('OFFLINE') %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLvYWwPmLsBRCGXeMHh-InA9rq35jdVeA" async defer></script>
	{% endif %}

	{% if current_user.is_anonymous or (not current_user.is_admin()) %}
	{{analytics}}
	{% endif %}

    <script type="text/javascript">
        // Constants defined via template
        const OFFLINE = {{ config.get('OFFLINE')|tojson }},
              HEATLAYER_DEFAULT_OPTIONS = {{ config["HEATMAP_DEFAULT_OPTIONS"]|tojson|safe }},
              BASE_DATAURL = "{{ url_for('getdata', username=user.id) }}",
              BASE_USER_URL = "{{ url_for('main', username=user.id) }}",
              USER_ID = "{{ user.id }}",
              SHARE_PROFILE = {{ user.share_profile|tojson|safe }},
              SHARE_STATUS_UPDATE_URL = "{{ url_for('update_share_status', username=user.id) }}",
              ADMIN = {{ (current_user.is_authenticated and current_user.is_admin())|tojson|safe }},
              FLASH_MESSAGES = {{ get_flashed_messages() }},
              ONLOAD_PARAMS = {
                    flowres: "{{ flowres }}",
                    heatres: "{{ heatres }}",
                    autozoom: {{ autozoom|tojson }},
                    activity_ids: "{{ ids }}",
                    limit: {{ limit|tojson }},
                    preset: {{ preset| tojson }},
                    date1: "{{ date1 }}",
                    date2: "{{ date2 }}",
                    start_paused: {{ paused|tojson }},
                    map_providers: {{ baselayer|tojson|safe }},
                    map_center: [{{ lat }}, {{ lng }}],
                    map_zoom: {{ zoom }},
                    info: {{ info|tojson }}
              };
    </script>

</head>

<body>
	<div id="sidebar" class="sidebar collapsed">
		<!-- Nav tabs -->
		<div class="sidebar-tabs">
			<ul role="tablist">
				<li>
					<a href="#home" role="tab"><i class="fa fa-bars"></i></a>
				</li>

				<li>
					<a href="#activities" role="tab"><i class="fa fa-list"></i></a></li>


					{% if current_user.is_authenticated
					and ((current_user.id == user.id) or current_user.is_admin())%}
					<li>
						{% else %}
						<li class="disabled">
							{% endif %}
							<a href="#profile" role="tab"><i class="fa fa-user"></i></a>
						</li>

						<li><a href="#controls" role="tab"><i class="fa fa-sliders"></i></a></li>

					</ul>

					<ul role="tablist">

						<li><a href="#info-pane" role="tab"><i class="fa fa-info"></i></a></li>


						{% if current_user.is_authenticated
						and ((current_user.id == user.id) or current_user.is_admin())%}
						<li>
							{% else %}
							<li class="disabled">
								{% endif %}
								<a href="#settings" role="tab"><i class="fa fa-gear"></i></a>
							</li>
						</ul>

					</div>

					<!-- Tab panes -->
					<div class="sidebar-content">
						<div class="sidebar-pane" id="home">
							<h1 class="sidebar-header">
								<a href="https://www.strava.com/athletes/{{ user.id }}" target="_blank">
								<img src="{{ url_for('static',filename='strava_button.png')}}" style="width:20px; height:20px;" class="img-fluid" alt="StravaLogo"> </a>
								{{ user.username or user.id }}'s map
								<span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
							</h1>

							<h3>Activities query:</h3>

							<form id="renderform" action="{{ url_for('main', username=user.id)}}">

								<span id="num_select">
									<input class="preset" id="select_num" type="number" value=0 min=0 max=500>
									most</span>

									<span>
										<select class="preset" id="select_type" form="renderform">
											<option value="days">recent days</option>
											<option value="activities">recent activities</option>
											<option value="activity_ids">Activity IDs</option>
											<option value="" selected="selected">Date-Range</option>
										</select>
									</span>

									<span id="id_select">
										<br>
										<textarea name="id" id="activity_ids" form="renderform"></textarea>
									</span>

									<span class="date_select" style="display:block">
										After
										<input class="datepick" id="date1" type="text"  value=""/>
									</span>
									<br>

									<span class="date_select" style="display:block">
										Before
										<input class="datepick" id="date2" type="text" value=""/>
									</span>
									<hr>

									<span style="display:block">
										<label for="heatres" style="display:block">Heat Layer:</label>
										<select id="heatres" name="renderHeat" form="renderform">
											<option value="">None</option>
											<option value="high">High resolution</option>
											<option value="low">Low resolution</option>
										</select>
									</span>


									<span style="display:block">
										<label for="flowres" style="display:block">Flow Layer:</label>
										<select id="flowres" name="renderFlow" form="renderform">
											<option value="">None</option>
											<option value="high">High resolution</option>
											<!-- <option value="low" disabled="">Low resolution</option> -->
										</select>
									</span>


									<div class="checkbox">
										<label><input type="checkbox" id="autozoom" value="1">Auto-Zoom when finished</label>
									</div>

									<hr>
									<div class="data_message"></div>
									<div><progress id='tab' class='progbar'></progress></div>
									<hr>

									<button type="button" id="renderButton" class="btn btn-primary">Render Layers</button>
									<button type="button" id="abortButton" class="btn btn-danger">Abort</button>

								</form>

								<hr>
								{% if current_user.is_authenticated %}
								You are logged in as
								<a href="{{ url_for('main', username=current_user.id) }}"
								target="_blank">{{ current_user.username or current_user.id}}</a>
								<br>

								<form action="{{ url_for('logout', username=current_user.id) }}">
									<input type="submit" class="btn btn-danger" value="Log Out" />
								</form>
								{% else %}

								Create an account and/or log in.
								<form action="{{ url_for('authorize') }}" >
									<input type="image" src="{{ url_for('static', filename='btn_strava_connectwith_orange.svg') }}" alt="Log-In with Strava" >
								</form>

								{% endif %}
								<br>
								<a href="mailto:Rensi.Efrem@gmail.com"> Having problems?</a>
							</div>

							{% if current_user.is_authenticated
							and ((current_user.id == user.id) or current_user.is_admin()) %}
							<div class="sidebar-pane" id="profile">
								<h1 class="sidebar-header"> <a href="https://www.strava.com/athletes/{{ user.id }}" target="_blank"><img src="{{ url_for('static',filename='strava_button.png')}}" style="width:20px; height:20px" class="img-fluid" alt="StravaLogo"> </a>  {{ user.username or user.id }} <span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>

								{% if current_user.is_authenticated and current_user.is_admin() and (not user.is_admin()) %}
								Admin ({{ current_user.id }}) on behalf of:
								{% endif %}

								<h3> {{ user.firstname }}
									{{ user.lastname }}:</h3>

									<a href="https://www.strava.com/settings/profile" target="_blank">
										<img src={{ user.profile }} alt="user image" height="20%" width="20%">
									</a>

									<br><br>
									If our index does not corrrectly reflect the current state of your Strava activities, try re-building the index here.
									<form action="{{ url_for('activities', username=user.id) }}" target="_blank">
										<input type="submit" class="btn" value="View activity index" />
										<label><input type="checkbox" name="rebuild" value="1">Re-build</label>
									</form>

									<div class="checkbox">
										<label><input type="checkbox" id="share" value="0">Include me in the
											<a href="{{ url_for('public_directory')}}" target="_blank">
												public user directory
											</a>
										</label>
									</div>

									<br><br>


									<br>
									<form action="{{ url_for('logout', username=user.id) }}">
										<input type="submit" class="btn btn-danger" value="Log Out" />
									</form>

									<br>
									<hr>
									<br><br>
									<form action="{{ url_for('delete', username=user.id) }}" onsubmit="return confirm('Delete your info from our database?');">
										<input type="submit" class="btn btn-danger" value="Delete Account" />
									</form>
								</div>
								{% endif %}


								<div class="sidebar-pane" id="info-pane">
									<h1 class="sidebar-header">Info<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
									<br>
									{{ config['APP_NAME'] }} imports and renders your public activities from Strava.<br>
									Our cache of your activity data is deleted if not accessed for 7 days.<br><br>
									Deleting your account with us clears our database cache for you and deletes your Strava access token from our database.
									<br><br>
									The URL for a heat/flow map and the current location dates or preset, and zoom are embedded in the url so you can share that url and anyone who clicks on it will get the same view.
									<br><br>
									Note: You can specify a custom map baselayer by setting "baselayer={map}" in the URL, where {map} is one of the provider names from
									<a href="https://leaflet-extras.github.io/leaflet-providers/preview" target="_blank">leaflet-providers</a>
									<hr>

									{{ config['APP_NAME'] }} is a work in progress.
									<img src="{{ url_for('static', filename='under-construction.gif') }}" height=40 alt="under-construction">
									<br>
									<a href="mailto:Rensi.Efrem@gmail.com">Questions, comments, suggestions?</a>
									<br>
									<a href="https://github.com/ebrensi/heatflask"><i class="fa fa-github fa-2x"></i> Want to contribute? <i class="fa fa-github fa-2x"></i></a>
									<hr>
								</div>

								<div class="sidebar-pane" id="activities">
									<h1 class="sidebar-header">Rendered Activities<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
									<div id="activities_list">
										<table id='atab' class='display compact order-column'></table>
									</div>

									<div>
										<br>
										<input type="checkbox" name="szoom" id="zoom-table-selection" value="1">Auto-Zoom to selection
										<button type="button" id="render-selection-button" class="btn btn-default btn-sm">Render selected</button>
									</div>
								</div>

								<div class="sidebar-pane" id="controls">
									<h1 class="sidebar-header">Layer Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
									<div>
										<form id="layer-settings-form">
											<h4>Animation Constants</h4>
											<div>
												<span style="text-align: center;">
												<label for="speedConst">
												Speed:
												<input type="text" class="dial" id="speedConst">
												</label>
												</span>

												<span style="text-align: center;">
												<label for="sepConst">Sparsity:
												<input type="text" class="dial" id="sepConst">
												</label>
												</span>
											</div>

											<input type="checkbox" id="showPaths" checked>
											<label for="showPaths">Show Paths</label>
                    					</form>
                				  </div>
            					</div>
        	</div>
    </div>

    <div id="map" class="sidebar-map"></div>

    {% assets "main_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

</body>
</html>
