<html>
  <head>
    <title>{{ config["APP_NAME"] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
     <!-- Custom style for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

  </head>
  <body>


    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}

      <h1>{{ config["APP_NAME"] }}</h1>


      <h3>Create a new account or connect to an existing one</h3>
      <br>
      <form action="{{ url_for('authorize') }}">
          <input type="image" src="{{ url_for('static', filename='btn_strava_connectwith_orange.svg') }}"
           alt="Log-In with Strava" >
          <input type="hidden" name="state" value="{{ url_for('nothing') }}">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <h1>or</h1>
      <FORM METHOD="LINK" ACTION="{{ url_for('demo') }}">
      <INPUT class="btn btn-primary" TYPE="submit" VALUE="See Demo">
      </FORM>

      <br><br>
      Problems, Suggestions?
      <a href="mailto:Rensi.Efrem@gmail.com?subject=About {{ config['APP_NAME'] }}"> <strong>Contact me!</strong></a>
    </div>

  </body>
</html>
