<!DOCTYPE html>
<html>
<head>
    {% assets "basic_table_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "basic_table_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>


<body>
    <h3>Subscription Updates</h3>
    <table id="updates_table" class='display order-column compact' cellspacing='1' width='100%'>
    </table>


    <script>
    const user_profile_url = "{{ url_for('user_profile', username='') }}",
          data = {{ events|tojson }};

    function formatID (data, type, row) {
        if (data) {
            if (type == "display") {
                return href(user_profile_url+data, data);
            } else {
                return data;
            }
        } else {
            return "";
        }
    }

    function formatActivityID (data, type, row) {
        if (row.updated == true && type == "display") {
            return href(stravaActivityURL(data), data)
        } else {
            return data
        }
    }


    $(document).ready(function() {
        let updates_table = $('#updates_table').DataTable({
            pageLength: 50,
            deferRender: true,
            data: data,
            columns: [
                {title: "dt",    data: "dt", render: formatDate},
                {title: "owner", data: "owner_id", render: formatID},
                {title: "activity", data: "object_id", render: formatActivityID}
            ],
            scrollY: "80vh",
            scrollX: true,
            scrollCollapse: true,
            select: true,
            order: [[ 0, "desc" ]]
        });
    });
    </script>
</body>
</html>
