<!DOCTYPE html>

<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,
                   maximum-scale=1.0, user-scalable=no"
    />

    <title>{{ config["APP_NAME"]}} - Animated Activity Visualization</title>

    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link rel="apple-touch-icon" href="../images/logo.png" />
  </head>
  <body>
    <div id="bubbler" class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% if error %}
      <p class="error">
        <strong>Error:</strong> {{ error }} {% endif %}

        <br />
        <img class="logo" src="../images/logo.png" />
      </p>

      <h2>Motion Mapping for Your Strava&nbspData</h2>

      <br />

      <div class="splash">
        <input class="action btn btn-a" id="demo" type="submit" value="Demo" />
      </div>

      <br /><br />

      <div class="splash">
        <input
          class="action btn btn-b"
          id="directory"
          type="submit"
          value="Public Users"
        />
      </div>

      <br />
      <div class="splash">
        <button class="strava-auth" id="authorize" data-action="login"></button>
      </div>
    </div>
  </body>

  <!-- Data passed from the backend at serve-time will be here -->
  <div id="runtime-arguments">{{args|tojson|safe}}</div>
  <script src="../js/splash-page.ts"></script>
</html>
